@import "reset.css";
@import "variables.css";

/* components */
@import "../components/status-bar.css";
@import "../components/nav_bar.css";
@import "../components/Screen_header.css";
@import "../components/user_components.css";
@import "../components/badge.css";
@import "../components/icon_row.css";
@import "../components/alt_screen_header.css";
@import "../components/No-Mobile.css";

/* screens */
@import "../screen/LogIn.css";
@import "../screen/friends.css";
@import "../screen/Find.css";
@import "../screen/More.css";
@import "../screen/Settings.css";
@import "../screen/Chats.css";

.Friends_Screens {
  padding: 0px var(--margin);
}

a {
  text-decoration: none;
  color: black;
}
